
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.warning{
  height: 40px;
  width: 250px;
  position: absolute;
  right: 0;
  top: 10%;
  background: rgb(210, 91, 91);
  font-size: 1.1rem;
  color:white;
  font-family: cursive;
  padding: 5px;
  border-radius: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  margin-left: 10px;
}
.AlltestVR{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left, .right {
  /* Set the width and height of the elements */
  width: 90%;
  height: 250px;

  /* Add a border to the elements */
  border: 2px solid #000;

  /* Round the corners of the elements */
  border-radius: 50px;

  /* Position the elements side-by-side */
  display: inline-block;
  margin: 0 20px;
}

.a-enter-vr-button { /* استخدم الاسم الصحيح للعنصر */
  display: none !important; /* قم بإخفاء العلامة */
}

/* @media (max-width:601px){
  .left, .right {
    margin: 0 50px;

  
  }
} */
/* .iconVR{
  cursor: pointer;
  transition: 0.3s;
} */
.image-container {
  position: fixed;
  bottom: 20px; /* تعديل حسب الموضع الذي ترغب في وضع الصورة فيه */
  right: 20px; /* تعديل حسب الموضع الذي ترغب في وضع الصورة فيه */
}
/* .colorsWall{
  color: #8f00ff;
} */