/* .btn1{
    width: 80%;
    margin: 10px;
     
} */
/* .NavLink{
    background: none;
} */

.flex{
    display: flex;
    justify-content: center;
}
.flex .card-textt{
    margin-left: 6px;
}
.flex .colorsdis{
    color: #828181;
}
.container{
    margin-top: 100px;
}
.container{
    width: 100px;
}
.card{
    height: 100%;
}
@media (max-width:1500px) and (min-width:949px){
    .card{
        width: 105%;
      
    }
}