/* iframe{
    width: 100%;
    height:100vh;
} */
.bodyy{
    width: 100%;
    height: 100vh;
}
.bodybac{
    background-image: url(../image/imagets/home.jpg);
    width: 100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.Imagehome{
    width: 100%;
    height: 100vh;
}
.tex{
    color: #fff;
    position: relative;
    top: 100px;
}
@media(max-width:836px){
    .bodybac{
        background-position: center;
    }
}